@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
body{
  background-color: hsl(228, 33%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.app{
  width: 375px;
  padding: 16px;
}
.comments{
  display: flex;
  flex-direction: column;
}
.comment{
  background-color: white;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 16px;
  width: 340px;
}
.replies-container{
  width: 340px;
  border-left: 1px solid hsl(223, 19%, 93%);
}
.replies,
.replyTo{
  width: 320px;
  align-self: end; 
}
.replyTo{
  background-color: white; 
  border-bottom: 1px solid hsl(228, 33%, 97%);
  border-top-left-radius: 6px ; 
  border-top-right-radius: 6px; 
  padding: 2px 16px;
  font-size: 12px;
}
.replyComment{
  border-top-left-radius: 0; 
  border-top-right-radius: 0; 
}
.replies-container:last-child{
  margin-bottom: 0;
}
.details{
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile{
  width: 28px;
  height: 28px;
}
.name{
  color:hsl(212, 24%, 26%);
  font-size: 16px;
}
.time,
.content,
.contentInput,
.replyTo{
  color: hsl(211, 10%, 45%);
  font-weight: 500;

}
.response{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.like{
  display: flex;
  background-color: hsl(228, 33%, 97%);
  align-items: center;
  justify-content: space-evenly;
  width: 80px;
  height: 36px;
  border-radius: 6px;
}
.reply{
  display: flex;
  align-items: center;
  width: 70px;
  gap: 8px;
  cursor: pointer;
}
.num,
.reply-para{
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  font-size: 14px;
  transition: 0.4s ease-in-out;
}
.plus,
.minus{
  cursor: pointer;
}
.plus{
  color: green;
}
.minus{
  color: hsl(358, 79%, 66%);
}
.plus,
.minus{
  scale: 1.1;
}
.contentInput{
  width: 100%;
  height: 72px;
  resize: none;
  border-color: hsl(228, 33%, 97%);
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: 400ms;
  overflow: hidden;
}
.contentInput:focus{
  border-color: hsl(238, 40%, 52%);
}
.myComment-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnStyle{
  display: flex;
  gap: 4px;
}
.inputBtn,
.cancelBtn{
  background-color: hsl(238, 40%, 52%);
  border: none;
  height: 40px;
  color: white;
  width: 80px;
  border-radius: 6px;
  cursor: pointer;
  text-transform: uppercase;
}
.cancelBtn{
  background-color: salmon;
}
.highlight{
  color: blue;
}
.you{
  background-color: hsl(238, 40%, 52%);
  color: white;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 2px;
}
.action-container,
.editComment,
.deleteComment{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 20px;
}
.deleteComment,
.editComment{
  outline: none;
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  gap: 4px;
  cursor: pointer;
}
.deleteComment{
  color: hsl(358, 79%, 66%);
}
.editComment{
  color: hsl(238, 40%, 52%);
}
a{
  text-decoration: none;
}
.myComment{
  gap: 6px;
  justify-content: space-between;
  height: 170px;
}
.emptyWarning{
  font-size: 12px;
  color: hsl(358, 79%, 66%);
}

@media(min-width: 1024px){
  .comment{
    width: 680px;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .like{
    grid-row: 1;
    grid-column: 1;
  }
}